// navbar css

$color_1: #fff;
$color_2: #bb4d00;
$color_3: #ffbd39;
$color_4: #000000;
$color_5: rgba(255, 255, 255, 0.5);
$color_6: #000000;
$color_7: #6c757d;
$color_8: #495057;
$color_9: rgba(0, 0, 0, 0.5);
$color_10: rgba(0, 0, 0, 0.9);
$background-color_1: transparent;
$background-color_2: #fff;
$background-color_3: #007bff;
$border-color_1: #ffbd39;
$border-color_2: rgba(0, 0, 0, 0.5);
$border-color_3: #e9ecef #e9ecef #dee2e6;
$border-color_4: transparent;
$border-color_5: #dee2e6 #dee2e6 #fff;
$border-color_6: rgba(0, 0, 0, 0.1);
$border-color_7: rgba(255, 255, 255, 0.1);

.vj-pf-navbar {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  .navbar-brand {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .navbar-nav {
    > .nav-item {
      > .nav-link {
        font-size: 16px;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        opacity: 1 !important;
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background: $color_2;
            visibility: visible;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
      .nav-link.active {
        background: transparent;
        background: none;
        color: $color_2;
        span {
          &:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }
    > .nav-item.cta {
      > a {
        color: $color_1;
        border: 1px solid #ffbd39;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 18px;
        padding-right: 18px;
        background: #ffbd39;
        margin-top: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        span {
          display: inline-block;
          color: $color_1;
        }
        &:hover {
          background: #ffbd39;
          border: 1px solid #ffbd39;
        }
      }
    }
    > .nav-item.cta.cta-colored {
      a {
        border: 1px solid #a0f669;
        background: #a0f669 !important;
      }
    }
  }
  .navbar-toggler {
    border: none;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    &:hover {
      text-decoration: none;
      color: $color_3;
      outline: none !important;
    }
    &:focus {
      text-decoration: none;
      color: $color_3;
      outline: none !important;
    }
  }
}
.vj-pf-navbar.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #ffffff !important;
  -webkit-box-shadow: 4px 5px 10px 0 rgb(0 0 0 / 26%);
  box-shadow: 4px 5px 10px 0 rgb(0 0 0 / 26%);
  padding: 0 15px;
  .nav-item {
    > .nav-link {
      color: $color_4 !important;
    }
  }
  .nav-item.active {
    > a {
      color: $color_2 !important;
    }
  }
  .nav-item.cta {
    > a {
      color: $color_4 !important;
      background: #ffbd39;
      border: none !important;
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-top: 5px !important;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      span {
        display: inline-block;
      }
    }
  }
  .nav-item.cta.cta-colored {
    span {
      border-color: $border-color_1;
    }
  }
  .navbar-toggler {
    border: none;
    color: $color_5 !important;
    border-color: $border-color_2 !important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .nav-link {
    color: $color_6 !important;
  }
  .nav-link.active {
    color: $color_2 !important;
  }
  .navbar-brand {
    color: $color_2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
  }
}
.vj-pf-navbar.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.vj-pf-navbar.scrolled.sleep {
  -webkit-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.navbar-brand {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.nav-link.disabled {
  color: $color_7;
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  .nav-item {
    margin-bottom: -1px;
  }
  .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    &:hover {
      border-color: $border-color_3;
    }
    &:focus {
      border-color: $border-color_3;
    }
  }
  .nav-link.disabled {
    color: $color_7;
    background-color: $background-color_1;
    border-color: $border-color_4;
  }
  .nav-link.active {
    color: $color_8;
    background-color: $background-color_2;
    border-color: $border-color_5;
  }
  .nav-item.show {
    .nav-link {
      color: $color_8;
      background-color: $background-color_2;
      border-color: $border-color_5;
    }
  }
  .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.nav-pills {
  .nav-link {
    border-radius: 0.25rem;
  }
  .nav-link.active {
    color: $color_1;
    background-color: $background-color_3;
  }
  .show {
    > .nav-link {
      color: $color_1;
      background-color: $background-color_3;
    }
  }
}
.nav-fill {
  .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
  }
}
.nav-justified {
  .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
  }
}
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .dropdown-menu {
    position: static;
    float: none;
  }
}
.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: $background-color_1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}
.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  > .container {
    padding-right: 0;
    padding-left: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  > .container-fluid {
    padding-right: 0;
    padding-left: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-toggler {
    display: none;
  }
}
.navbar-light {
  .navbar-toggler {
    color: $color_9;
    border-color: $border-color_6;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-text {
    color: $color_9;
    a {
      color: $color_10;
      &:hover {
        color: $color_10;
      }
      &:focus {
        color: $color_10;
      }
    }
  }
}
.navbar-dark {
  .navbar-toggler {
    color: $color_5;
    border-color: $border-color_7;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
.collapse {
  &:not(.show) {
    display: none;
  }
}
.collapsing {
  position: relative;
  height: 0;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
@media (max-width: 991.98px) {
  .vj-pf-navbar {
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    .navbar-nav {
      padding-bottom: 20px;
      margin-right: 0;
      > .nav-item {
        > .nav-link {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 1rem;
          padding-top: 0;
        }
      }
      > .nav-item.active {
        > a {
          color: $color_3;
        }
      }
    }
  }
  .vj-pf-navbar.scrolled {
    .nav-item {
      > .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 20px !important;
      }
    }
    .navbar-nav {
      background: none;
      border-radius: 0px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
    }
  }
  .navbar-expand-lg {
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
@media (max-width: 1199.98px) {
  .vj-pf-navbar {
    .navbar-nav {
      > .nav-item {
        > .nav-link {
          span {
            display: inline-block;
          }
        }
      }
    }
  }
  .navbar-expand-xl {
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
@media (max-width: 575.98px) {
  .navbar-expand-sm {
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    > .container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-toggler {
      display: none;
    }
  }
}
@media (max-width: 767.98px) {
  .navbar-expand-md {
    > .container {
      padding-right: 0;
      padding-left: 0;
    }
    > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    > .container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-toggler {
      display: none;
    }
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    > .container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-toggler {
      display: none;
    }
  }
}
@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }
    > .container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-toggler {
      display: none;
    }
  }
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
