$switch_background-color_1: #73c0fc;
$switch_background-color_2: #e8e8e8;
$switch_background-color_3: #183153;

/* .switch:hover */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .switch:hover */
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $switch_background-color_1;
  transition: 0.4s;
  border-radius: 30px;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: $switch_background-color_2;
    transition: 0.4s;
  }
}
.sun {
  svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 20px;
    height: 20px;
    animation: rotate 15s linear infinite;
    -webkit-animation: rotate 15s linear infinite;
    -moz-animation: rotate 15s linear infinite;
  }
}
.moon {
  svg {
    fill: #73c0fc;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 20px;
    height: 20px;
    animation: tilt 5s linear infinite;
    -webkit-animation: tilt 5s linear infinite;
    -moz-animation: tilt 5s linear infinite;
  }
}
.input {
  &:checked {
    + {
      .slider {
        background-color: $switch_background-color_3;
        &:before {
          transform: translateX(30px);
        }
      }
    }
  }
  &:focus {
    + {
      .slider {
        box-shadow: 0 0 1px #183153;
      }
    }
  }
}