@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}
/* @variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */
/* @variant dark (&:where([data-theme="dark"])); */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

/* @theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
} */

:root {
  --vj-pf-nav-active-link-color: var(--color-amber-700);
  --vj-pf-root-bg-color: #f3f4f6;
  --vj-pf-navbar-scrolled: #ffffff;
  --vj-pf-navbar-link-color: #000000;
}
:root.dark {
  --vj-pf-nav-active-link-color: #ff9d23;
  --vj-pf-root-bg-color: #121212;
  --vj-pf-navbar-scrolled: #000000;
  --vj-pf-navbar-link-color: #ffffff;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--vj-pf-root-bg-color); */
  background: var(--vj-pf-root-bg-color);
}

html.dark {
  color-scheme: dark !important;
  background: var(--vj-pf-root-bg-color) !important;
  margin: 0;
  background: inherit;
}
